
.summary_pic {
    float: left;
    width: 60%;
    height: 60%;
    padding: 10px 10px 10px;
}


body {
    background-color: #002b36;
    color: #ffffff
}

.navbar {
  padding: 10px;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.nav-item active {
  text-decoration: none;
}

.box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
}

hr {
    height: 1px;
    background-color: #ffffff;
    border: none;
}

.nav-item:hover,.panel:hover {
    border-color: rgb(255, 196, 0);
    border-style: solid;
}

img {
    width: 100%;
    height: 100%;
    
}

section, th, td {
    text-align: center;
  }

section, h2,h3 {
    text-align: center;
    padding: 10px 30px 10px;
    
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  h3 {
    font-size: medium;
  }
}

@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }

